#!/usr/bin/env ruby -W0
ENV['RACK_ENV'] ||= 'development'

require "bundler/setup"
require "surikat"

Dir.glob('./config/initializers/*.rb').sort.each do |file|
  require file
end

puts "Welcome to the Surikat console. You are in the #{ENV['RACK_ENV']} environment."

require "irb"
IRB.start(__FILE__)