---
queries:
  Hello:
    class: HelloQueries
    method: hello
    output_type: String
  ShowSession:
    class: HelloQueries
    method: show_session
    output_type: String
  AddSession:
    class: HelloQueries
    method: add_session
    output_type: String
mutations:
